<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/css/mainpage.css"/>
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <nav class="sidebar close">
      <header>
          <div class="image-text">
            <span class="image">
                <img src="static/img/logo.png" alt="logo">
            </span>
            <div class="text logo-text">
                <span class="name">Messenger</span>
                <span class="">by Anna and Michail</span>
            </div>
          </div>
      </header>

      <div class="menu-bar">
          <div class="menu">

              <ul class="menu-links">
                  <li class="nav-link">
                      <a href="/my_profile">
                        <i class='bx bx-user-circle icon'></i>
                          <span class="text nav-text">Profile</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="/dialogues">
                        <i class='bx bx-message-square-dots icon'></i>
                          <span class="text nav-text">Dialogues</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="/friends">
                        <i class='bx bx-user icon'></i>
                          <span class="text nav-text">Friends</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="/music">
                          <i class='bx bx-music icon' ></i>
                          <span class="text nav-text">Music</span>
                      </a>
                  </li>

              </ul>
          </div>

          <div class="bottom-content">
              <li class="">
                  <a href="/logout">
                      <i class='bx bx-log-out icon' ></i>
                      <span class="text nav-text">Logout</span>
                  </a>
              </li>
          </div>
      </div>
  </nav>
</body>
<main role="main" class="containers">
    {% block content %}{% endblock %}
</main>
</html>
